<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movement Animation</title>
    <!-- to add favicon -->
    <link rel="shortcut icon" href="../icons/favicon.ico" type="image/x-icon">
    <!-- add fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- jquery cdn  -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- stylesheet -->
    <!-- <link rel="stylesheet" href="assets/css/custom.css"> -->
    <style>
        body {
            margin: 0;
            text-align: right;
        }
        div{
            margin-top: 2rem;
            text-align: center;
        }
    </style>
</head>

<body>
        <img src="../images/movement.gif" alt="" id="movementImg"><br>
        <div><a href="../../index.html">Back to Home</a></div>
    <script >
        $(document).ready(function () {
            
            let w = $(window).width()
            console.log(w)
            
            
            let mr = 0;
            do{
                $("#movementImg").animate({
                    "margin-right": mr + "px"
                });
                mr+=10
            }while(mr < w);
            
            
        })
    </script>
</body>

</html>